name: Jira In Progress on Push

on:
  push:
    branches:
     - dev_*  

jobs:
  jira-in-progress:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Debug commit message
        run: |
          echo "Commit message: ${{ github.event.commits[0].message }}"

      - name: Extract Jira Issue Key
        id: extract
        run: |
          key=$(echo '${{ github.event.commits[0].message }}' | grep -o '[A-Za-z0-9]\+-[0-9]\+')
          echo "jira_key=$key" >> $GITHUB_OUTPUT

      - name: Debug Jira key
        run: |
          echo "Extracted Jira key: ${{ steps.extract.outputs.jira_key }}"
          
      - name: Login to Jira
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Transition Jira issue to In Progress
        uses: atlassian/gajira-transition@v3
        with:
          issue: ${{ steps.extract.outputs.jira_key }}
          transition: "Đã nhận nhiệm vụ"
